
<div class="container">
    <div class="row">
        <div class="col-md-12" id="car-actions-box">
            <h3>Car Status:</h3>
            <h4 id="carStatus"></h4>
            <div class="btn-group" id="swap-btns" role="group" aria-label="Basic example">
                <button type="button" id="yes-btn" class="btn btn-secondary btn-lg">Yes</button>
                <button type="button" id="no-btn" class="btn btn-secondary btn-lg">No</button>
            </div>
        </div>
    </div>
    <div id="surveyContainer"></div>
    {{#each carsList}}
        {{#unless swappedOrPendingSwap}}
        <ul class="cars-list" id="{{username}}-listing">
            <li>Make: {{make}}</li>
            <li>Model: {{model}}</li>
            <li>Year: {{year}}</li>
            <li>Color: {{color}}</li>
            <li>Price: {{price}}</li>
            <li>Listed By: {{username}}</li>
            <li><img src="{{photo}}" alt="{{make}}-{{model}}"/></li>
            <button type="button" class="btn btn-secondary requestSwap-btn" id="{{username}}-{{id}}" user="{{username}}" vehicleId="{{id}}">Request to Swap with Car Owner</button> 
        </ul>
        {{/unless}}
    {{/each}}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://surveyjs.azureedge.net/0.12.14/survey.jquery.min.js"></script>
<script src="./assets/JS/carsList.js" type="text/javascript"></script>
